@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-hero {
  height: 100vh;
  background-color: #151c25;
  background-image: radial-gradient(
      at 0% 0%,
      hsl(240, 25%, 18%) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 0%, hsl(186, 39%, 30%) 0, transparent 50%),
    radial-gradient(at 100% 0%, rgb(39, 78, 114) 0, transparent 50%);
}

.heading-text{
  color:#a3ede4
}
.text-gradient {
  background: -webkit-linear-gradient(#ff0000, #f9f9f9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lds-dual-ring {
  display: inline-block;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;